@model RH_DELIRIO.Models.Funcionario


            <div class="form-group">
                <label asp-for="Cargos.abreviacao" class="control-label"></label>
                <input asp-for="Cargos.abreviacao" class="form-control" />
                <span asp-validation-for="Cargos.abreviacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargos.descricao" class="control-label"></label>
                <input asp-for="Cargos.descricao" class="form-control" />
                <span asp-validation-for="Cargos.descricao" class="text-danger"></span>
            </div>
           
      