@model RH_DELIRIO.Models.Funcionario


            <div class="form-group">
                <label asp-for="HorariosAtuais.data_entrada_abertura" class="control-label"></label>
                <input asp-for="HorariosAtuais.data_entrada_abertura" class="form-control" />
                <span asp-validation-for="HorariosAtuais.data_entrada_abertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorariosAtuais.data_saida_abertura" class="control-label"></label>
                <input asp-for="HorariosAtuais.data_saida_abertura" class="form-control" />
                <span asp-validation-for="HorariosAtuais.data_saida_abertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorariosAtuais.data_entrada_inter" class="control-label"></label>
                <input asp-for="HorariosAtuais.data_entrada_inter" class="form-control" />
                <span asp-validation-for="HorariosAtuais.data_entrada_inter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorariosAtuais.data_saida_inter" class="control-label"></label>
                <input asp-for="HorariosAtuais.data_saida_inter" class="form-control" />
                <span asp-validation-for="HorariosAtuais.data_saida_inter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorariosAtuais.data_entrada_noite" class="control-label"></label>
                <input asp-for="HorariosAtuais.data_entrada_noite" class="form-control" />
                <span asp-validation-for="HorariosAtuais.data_entrada_noite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorariosAtuais.data_saida_noite" class="control-label"></label>
                <input asp-for="HorariosAtuais.data_saida_noite" class="form-control" />
                <span asp-validation-for="HorariosAtuais.data_saida_noite" class="text-danger"></span>
            </div>