@model RH_DELIRIO.Models.Funcionario


            <div class="form-group">
                <label asp-for="Salarios.salario_atual" class="control-label"></label>
                <input asp-for="Salarios.salario_atual" class="form-control" />
                <span asp-validation-for="Salarios.salario_atual" class="text-danger"></span>
            </div>
           
           