@model RH_DELIRIO.Models.Funcionario
            
            <div class="form-group">
                <label asp-for="TarifasDeOnibus.tarifa_atual" class="control-label"></label>
                <input asp-for="TarifasDeOnibus.tarifa_atual" class="form-control" />
                <span asp-validation-for="TarifasDeOnibus.tarifa_atual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TarifasDeOnibus.tipo" class="control-label"></label>
                <input asp-for="TarifasDeOnibus.tipo" class="form-control" />
                <span asp-validation-for="TarifasDeOnibus.tipo" class="text-danger"></span>
            </div>
           