@model RH_DELIRIO.Models.Funcionario


            
            <div class="form-group">
                <label asp-for="EnderecoFuncionario.cep" class="control-label"></label>
                <input asp-for="EnderecoFuncionario.cep" class="form-control" />
                <span asp-validation-for="EnderecoFuncionario.cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoFuncionario.rua" class="control-label"></label>
                <input asp-for="EnderecoFuncionario.rua" class="form-control" />
                <span asp-validation-for="EnderecoFuncionario.rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoFuncionario.numero" class="control-label"></label>
                <input asp-for="EnderecoFuncionario.numero" class="form-control" />
                <span asp-validation-for="EnderecoFuncionario.numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoFuncionario.complemento" class="control-label"></label>
                <input asp-for="EnderecoFuncionario.complemento" class="form-control" />
                <span asp-validation-for="EnderecoFuncionario.complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoFuncionario.bairro" class="control-label"></label>
                <input asp-for="EnderecoFuncionario.bairro" class="form-control" />
                <span asp-validation-for="EnderecoFuncionario.bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoFuncionario.cidade" class="control-label"></label>
                <input asp-for="EnderecoFuncionario.cidade" class="form-control" />
                <span asp-validation-for="EnderecoFuncionario.cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoFuncionario.telefone" class="control-label"></label>
                <input asp-for="EnderecoFuncionario.telefone" class="form-control" />
                <span asp-validation-for="EnderecoFuncionario.telefone" class="text-danger"></span>
            </div>
            
       


