@model RH_DELIRIO.Models.Funcionario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idfuncionario" class="control-label"></label>
                <input asp-for="idfuncionario" class="form-control" />
                <span asp-validation-for="idfuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome_guerra" class="control-label"></label>
                <input asp-for="nome_guerra" class="form-control" />
                <span asp-validation-for="nome_guerra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="registro_contador" class="control-label"></label>
                <input asp-for="registro_contador" class="form-control" />
                <span asp-validation-for="registro_contador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cpf" class="control-label"></label>
                <input asp-for="cpf" class="form-control" />
                <span asp-validation-for="cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rg" class="control-label"></label>
                <input asp-for="rg" class="form-control" />
                <span asp-validation-for="rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expedicao" class="control-label"></label>
                <input asp-for="expedicao" class="form-control" />
                <span asp-validation-for="expedicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="orgao" class="control-label"></label>
                <input asp-for="orgao" class="form-control" />
                <span asp-validation-for="orgao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="carteira_trabalho" class="control-label"></label>
                <input asp-for="carteira_trabalho" class="form-control" />
                <span asp-validation-for="carteira_trabalho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="serie_ct" class="control-label"></label>
                <input asp-for="serie_ct" class="form-control" />
                <span asp-validation-for="serie_ct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emissao_ct" class="control-label"></label>
                <input asp-for="emissao_ct" class="form-control" />
                <span asp-validation-for="emissao_ct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="naturalidade" class="control-label"></label>
                <input asp-for="naturalidade" class="form-control" />
                <span asp-validation-for="naturalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nascimento" class="control-label"></label>
                <input asp-for="nascimento" class="form-control" />
                <span asp-validation-for="nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cidade_nascimento" class="control-label"></label>
                <input asp-for="cidade_nascimento" class="form-control" />
                <span asp-validation-for="cidade_nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pis_pasep" class="control-label"></label>
                <input asp-for="pis_pasep" class="form-control" />
                <span asp-validation-for="pis_pasep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="banco_pis" class="control-label"></label>
                <input asp-for="banco_pis" class="form-control" />
                <span asp-validation-for="banco_pis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="titulo_eleitor" class="control-label"></label>
                <input asp-for="titulo_eleitor" class="form-control" />
                <span asp-validation-for="titulo_eleitor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zona" class="control-label"></label>
                <input asp-for="zona" class="form-control" />
                <span asp-validation-for="zona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="secao" class="control-label"></label>
                <input asp-for="secao" class="form-control" />
                <span asp-validation-for="secao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="desconto_sindicato" /> @Html.DisplayNameFor(model => model.desconto_sindicato)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="tamanho_camisa" class="control-label"></label>
                <input asp-for="tamanho_camisa" class="form-control" />
                <span asp-validation-for="tamanho_camisa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tamanho_calca" class="control-label"></label>
                <input asp-for="tamanho_calca" class="form-control" />
                <span asp-validation-for="tamanho_calca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observacoes" class="control-label"></label>
                <input asp-for="observacoes" class="form-control" />
                <span asp-validation-for="observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="foto" class="control-label"></label>
                <input asp-for="foto" class="form-control" />
                <span asp-validation-for="foto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ativo" /> @Html.DisplayNameFor(model => model.ativo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TipoEstadoCivil" class="control-label"></label><br />
                <input type="radio" value="1" asp-for="TipoEstadoCivil" checked /> Solteiro<br />
                <input type="radio" value="2" asp-for="TipoEstadoCivil" /> Casado

            </div>
            <div class="form-group">
                <label asp-for="TipoGerencial" class="control-label"></label><br />
                <input type="radio" value="1" asp-for="TipoGerencial" checked /> Sim<br />
                <input type="radio" value="2" asp-for="TipoGerencial" /> Não

            </div>
            <div class="form-group">
                <label asp-for="TipoNacionalidade" class="control-label"></label><br />
                <input type="radio" value="1" asp-for="TipoNacionalidade" checked /> Brasileiro<br />
                <input type="radio" value="2" asp-for="TipoNacionalidade" /> Estrangeiro

            </div>
            <div class="form-group">
                <label asp-for="TipoSexo" class="control-label"></label><br />
                <input type="radio" value="1" asp-for="TipoSexo" checked /> Masculino<br />
                <input type="radio" value="2" asp-for="TipoSexo" /> Feminino

            </div>
            <div class="form-group">
                <label asp-for="TipoFuncionario" class="control-label"></label><br />
                <input type="radio" value="1" asp-for="TipoFuncionario" checked /> Pessoa Física<br />
                <input type="radio" value="2" asp-for="TipoFuncionario" /> Pessoa Jurídica

            </div>
            <h4>Admissão</h4>
            <hr />
                <partial name="_Admissao_Create"/>
            <h4>Banco</h4>
            <hr />
                <partial name="_Banco_Create"/>
            <h4>Cargo</h4>
            <hr />
                <partial name="_Cargo_Create"/>
            <h4>Divisão</h4>
            <hr />
                <partial name="_Divisao_Create"/>
            <h4>Endereço</h4>
            <hr />
                <partial name="_EnderecoFuncionario_Create"/>
            <h4>Horários Atuais</h4>
            <hr />
                <partial name="_HorariosAtuais_Create"/>
            <h4>Instrução</h4>
            <hr />
                <partial name="_Instrucao_Create"/>
            <h4>Loja de Alocação</h4>
            <hr />
                <partial name="_Lojas_Create"/>
            <h4>Plano de Saúde</h4>
            <hr />
                <partial name="_PlanoDeSaude_Create"/>
            <h4>Salário</h4>
            <hr />
                <partial name="_Salarios_Create"/>
            <h4>Tarifa de ônibus</h4>
            <hr />
                <partial name="_TarifasDeOnibus_Create"/>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{ 
@{ await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial");}
}

